.vercel
.env*
!.env.example

node_modules
.next
out
dist
coverage
playwright-report
test-results
.tmp/

*.tsbuildinfo
pnpm-debug.log*
supabase/.temp/*
!supabase/.temp/project-ref
supabase/.branches/_current_branch

.vercel
